<div class="container">
  <h1>Products <small class="badge"><%= @products.count %></small></h1>
  <% @products.each do |product| %>

    <div class="product">
      <img src="<%= product[:image_url] %>" alt="">
      <div class="product-body">
        <p><strong><%= product[:name] %></strong></p>
        <p><a href="<%= product[:url] %>"><%= product[:website] %></a></p>
      </div>
      <div class="product-price">
        <p class="price bold">excl. VAT: <%= product[:price_no_vat] %></p>
        <p class="price light">incl. VAT: <%= product[:price_vat] %></p>
      </div>
    </div>
  <% end %>
</div>
