<% total = @desktop3dprinter_products.count +  @goprint3d_products.count %>

<div class="container">
  <h1>Products <small class="badge"><%= total %></small></h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3 class="text-center">Desktop 3d Printer <small><%= @desktop3dprinter_products.count %> products found</small></h3>
      <%= render 'table', products: @desktop3dprinter_products %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h3 class="text-center">Go Print 3d <small><%= @goprint3d_products.count %> products found</small></h3>
      <%= render 'table', products: @goprint3d_products %>
    </div>
  </div>


</div>

<%= content_for(:products) do %>
  <%= total %>
<% end %>
